<div class="container-fluid">
  {% block styles %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
  {% endblock %}
<div class="navbar">
  <div class="logo">

  </div>
  <div class="nav-items">
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li></li>
      <li style="color:white;padding:15px;">{{current_user.username}}</li>
      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
      {% else %}
      <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
      {%endif%}
    </ul>
  </div>
</div>





</div>
<div class="navbar">
  

  <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
    {% else %}
    <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
    {%endif%}
  </ul>
</div>